/******* RESPONSIVE CODING ********/

@media (min-width: 29.25em) {

.featureblurb img {
	width: 40%;
	display: block;
	float: left;
}

.featureblurb>div[class="descriptiontext"]  {
	float: left;
	clear: right;
	width: 60%;
	height: auto;
	padding: 1.2em;
}

.featureblurb {
	overflow: hidden;
}

.featureblurb figcaption {
    display: block;
    padding: 0.7em 0;
}

.reviewblurb img {
    max-width: 40%;
    height: auto;
}

.reviewblurb figcaption {
    display: block;
    padding: 0.7em 0;
}


}



@media (min-width: 48em) {

body {
	font-size: 0.875em;
}

input {
	margin: 0;
	display: inline-block;
}

.container {
    margin: 6em 2.8571428571em 2em 2.8571428571em;
}

.headerlogo {
    margin-top: 1.2em; 
}

.togglemenu {
    background-color: #1D2326;
    width: 100%;
    height: 6em;
}

.primemenu {
    display: block;
    overflow: hidden;
    float: right;
    clear: left;
    margin: 0 0.56em;
}

.primemenu>li {
	display: inline-block;
	float: left;
	clear: right;
}

.primemenu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Avenir Next Condensed', sans-serif;
    font-weight: 200;
    font-size: 1.1428571429em;
    display: block;
    padding: 2.045em 0.5em;
}

.primemenu a:hover {
    background-color: #EA7A57;
}

.menuicon {
	display: none;
}

#searchicon {
	display: block;
	padding: 2em 0.875em;
}

#searchtext {
	display: none;
}

.reviewblurb img {
    max-width: 100%;
    height: auto;
    margin-right: 0.5em; 
    float: none;
}

.reviewblurb>div[class="descriptiontext"] {
    float: none;
    width: 100%;
}

.recentreviews {
	float: left;
	clear: right;
	width: 33%;
}

.secondsection>div.recentreviews {
	padding: 0 0.67em;
}

.secondsection>div.recentreviews:nth-child(2n) {
	padding: 0 0.5em;
	border-right: 2px solid #d8d8d8;
	border-left: 2px solid #d8d8d8;
}

.rating {
    display: block;
    margin-top: 0.5em;
    overflow: hidden;
}

.rating>img{
    width: 1.7em;
    margin: 0;
    float: left;
    clear: right;
}

.secondsection {
	overflow: hidden;
	width: 100%;
	margin-top: 2em;
}

.popularposts figure>img {
    display: block;
    width: 100%;
}

.popularposts figure>img:hover {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

.popularposts>li {
	float: left;
	clear: right;
	width: 32%;
}

.popularposts>li:nth-child(2n) {
	margin: 0 0.9em;
}

.popularposts {
	overflow: hidden;
    padding-top: 0;
}

.sidebar {
	overflow: hidden;
	width: 100%;
}

.sidebar header {
	display: block;
	padding-top: 1.5em;
	overflow: hidden;
	width: 100%;
}

.mainfooter {
    text-align: left;
    overflow: hidden;
}

.mainfooter>div:first-child {
	width: 66.66666667%;
	margin: 0 auto;
	overflow: hidden;
}

.footerlinks {
	margin: 2em 0;
}

.footerlinks, .contactlinks {
	float: left;
	clear: right;
	width: 50%;
	padding: 0 2em;
}

.socialmedia {
	margin: 0;
}

.newsletter {
	float: left;
	clear: right;
	width: 100%;
}

form {
    width: 85%;
    margin: 0 auto;
}

}


@media (min-width: 64em) {

body {
	font-size: 1em;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1.125em;
}

#searchicon {
	padding: 1.8em 0.875em 2.3em 0.875em;;
}

.featurearticles h4 {
	font-size: 1.125em
}

.container {
	overflow: hidden;
    margin: 6em 0.5em 10em 0.5em;
}

main {
	width: 66.666666667%;
	float: left;
	clear: right;
}

.recentreviews {
	float: left;
	clear: right;
	width: 32.5%;
}

.sidebar {
	width: 25%;
	position: absolute;
	right: 0.5em;
}

.sidebar ul {
	padding: 0;
}

.popularposts figure {
	float: left;
	clear: right;
	position: relative;
}

.popularposts figure>img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.popularposts>li {
	float: none;
	width: 100%;
	margin: 0;
}

.popularposts>li:nth-child(2n) {
	margin: 0;
}

.popularposts figcaption {
	position: absolute;
    bottom: 2em;
    margin: 0 1em;
    color: #fff;
    font-weight: 500;
    display: inline-block;
}

.popularposts li:hover, .popularposts a:hover {
    background-color: transparent;
}

.popularposts figcaption:hover {
	background-color: #ea7a57;
}

.mainfooter {
	font-size: 0.875em;
	padding: 1em;
}

.mainfooter>div:first-child {
	width: 83.333333333%;
	margin: 0 auto;
}

.contactlinks {
	width: 25%;
	padding: 0 1em;
}

.footerlinks {
	width: 20%;
	padding: 0 1em;
}

.socialmedia {
    display: block;
    width: 12em;
}

.socialmedia a {
    width: 2.5em;
    height: 2.5em; 
    padding: 0.5em;
    margin: 0.25em;
}

.newsletter {
	width: 55%;
	padding: 0 1em;
}

form {
	width: 90%;
	margin: 0;
	margin-top: 2em;
	float: right;
	clear: left;
}

button {
    margin: 0.5em;
    height: 2em;
    padding: 0.3em 1.2em;

}


}

@media (min-width: 90em) {

.togglemenu {
	padding: 0 10%;
}

.container {
	width: 83.333333333%;
	margin: 6em auto;
}

.sidebar {
	width: 25%;
	position: relative;
	left: 6.44em;
}


}